html{
    height: 100%;
    width: auto;
    justify-content: center;
    align-content:center ;
    background: rgb(255,255,255);  
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(204,255,252,1) 54%, rgba(0,255,240,1) 100%);
}

body {
    height: 100%;
}

footer{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.all-page {
    display: flex;
    height: 86%;
    width: 100%;
    justify-content:center ;
    align-items: center;

}

.style-button button {
    font-size: 30px;
    margin: 10px;
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: 1px 4px 1px 1px rgb(76, 109, 115);
    border-radius: 25px;
    background-color: darkcyan;
    color: antiquewhite;
    cursor: pointer;
}

.back-screen {
    background-color: #ccfffc;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.number h1 {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px ;
    background-color: #ccfffc;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.number0 button{
    width: 120px;
    text-align: center;
}

.footer footer {
    margin: 10%;
    width: 100%;
}

.made-by-user {
    font-size: 5px;
    border: 3px solid;
    border-radius: 10px;
    width: 200px;
    text-align: right;
    padding: 0 10px;
}

.footer {
    vertical-align: auto;
    padding-left: 80%;
}

.input-number {
    text-align: left;
}

.selection-bar {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: rgb(164, 255, 249);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 30px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.list-selection {
    display: flex;
    justify-content: space-between left ;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.list-selection li {
    padding: 10px;
    margin: 10px;
    display: inline;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    border-radius:10px ;
}

.create-by h2{
    font-size: 20px;
    width: auto;
    height: fit-content;
    display :flex;
    justify-content: center;
    align-items: center;
}

.contact-footer{
    display: grid;
    margin: 0;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    list-style-type:none ;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 30px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.contact-footer li{
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

a:link{
    text-decoration : none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: wheat;
}